@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Logged as: @User.Identity.Name</p>
    <ul>
        <li>@Html.ActionLink("Gadget catalogue", "GadgetList", "Store")</li>
        <li>@Html.ActionLink("User Cart", "UserCart", "Store")</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
        <li>@Html.ActionLink("Role management", "Index", "Roles")</li>
    </ul>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Logout" />
    </form>

}
else
{
    <ul>
        <li><a asp-controller="Store" asp-action="GadgetList">Gadget List</a></li>
        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-controller="Account" asp-action="Register">Registration</a></li>
    </ul>
}